<div class="card card-xl-stretch mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">ComboBox</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->

    <div class="card-body pt-2">
        <div class="col-lg-3">
            <div class="form-group row">
                <div class="col-lg-12 form-floating mb-7">
                    <select class="form-select" data-control="select2" data-placeholder="Chọn" id="ComboBox" onchange="">
                        <option value="2">option3</option>
                        <option value="3">option4</option>
                        <option value="4">option5</option>
                    </select>
                    <label>Title<span class="text-danger">*</span></label>
                </div>
            </div>
        </div>
    </div>


    <br />

    <div class="col-lg-12">
        <div class="w-300px">
            Title
        </div>
        <input type="hidden" id="EmployeeDocumentId1" value="0">
        <select class="form-select" id="ComboBox" data-control="select2">
            <option value="">option1</option>
            <option value="1">option2</option>
            <option value="2">option3</option>
            <option value="3">option4</option>
            <option value="4">option5</option>
        </select>
    </div>
    <!--end::Body-->
</div>